<ion-header>

  <ion-navbar color="dark">
      
    <ion-title>Equipos</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list> 
      <span *ngFor="let equipo of listEquipos | async">
       <ion-item ion-item detail-none *ngIf="capitan.capitan==false">
          <ion-label>{{ equipos.nombre }}</ion-label>
          <ion-checkbox item-right checked="false"  (click)="asignar(capitan)"></ion-checkbox>
      </ion-item>
      <ion-item ion-item detail-none *ngIf="capitan.capitan==true">
        <ion-label>{{ equipo.nombre }}</ion-label>
        <ion-checkbox item-right checked="true" (click)="asignar(capitan)"></ion-checkbox>
      </ion-item>
    </span>
    </ion-list>
    <button ion-button color="dark" (click)="viewCtrl.dismiss()">Listo</button>
</ion-content>