<!--
  Generated template for the JugadoresmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Jugadores</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list> 
      <span *ngFor="let jugador of equipo | async">
       <ion-item ion-item detail-none *ngIf="equipo.convocados!=4 && jugador.juega==true">
          <ion-icon name="contact" item-left></ion-icon>
            {{jugador.nombre}}
            <ion-checkbox item-right checked="false" ></ion-checkbox>
        </ion-item>

    </span>
    </ion-list>
    <button ion-button color="dark" (click)="viewCtrl.dismiss()">Listo</button>
    
</ion-content>
