page-login {
        .bg-image{
        background-image: url('/assets/imgs/figuras.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}
