
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Jugadores</ion-title>
    <ion-buttons end>
      <button ion-button (click)="signOut()" color="light">
        Cerrar Sesion
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
       <span *ngFor="let jugador of jugadores | async ">
       <span *ngIf="!jugador.admin">
          <ion-list>
          <ion-item-sliding #item>
            <ion-item>
              <ion-icon name="contact" item-start></ion-icon>
              <h2><b>{{jugador.nombre}} - {{jugador.elo}}</b></h2> 
            </ion-item>
            <ion-item-options side="right">
              <button ion-button (click)="mostrar_modal(jugador)" style="background-color: transparent; border:none">
                <ion-icon name="eye" color="secondary"></ion-icon>
                Ver
              </button>
              <span *ngIf="rolAdmin==true">
              <button ion-button (click)="mostrar_modal_editar(jugador)" style="background-color: transparent; border:none">
                <ion-icon name="build" color="primary"></ion-icon>
                Editar
              </button>
              <button ion-button (click)="eliminar_jugador(jugador)" style="background-color: transparent; border:none">
                <ion-icon name="trash" color="danger"></ion-icon>
                Eliminar
              </button>
              </span>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        </span>
      </span>
  </ion-list> 
  
   <ion-refresher (ionRefresh)="recargar_jugadores($event)">
 <ion-refresher-content></ion-refresher-content>
 </ion-refresher>

</ion-content>
