<!--
  Generated template for the JornadasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Jornadas</ion-title>
    <ion-buttons end>
    <button end ion-button icon-only (click)="mostrar_modal_add()" color="white">
      <ion-icon name="add"></ion-icon>
    </button>
      <button ion-button (click)="signOut()" color="light">
        Cerrar Sesion
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <span *ngFor="let jornada of jornadas | async">
      <ion-list >
        <ion-item-sliding #item>
          <ion-item>
            {{jornada.titulo}}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="mostrar_modal(jugador)" color="secondary">
              <ion-icon name="eye" ></ion-icon>
              Ver
            </button>
            <span *ngIf="rolAdmin==true">
              <button ion-button (click)="mostrar_modal_editar(jugador)" color="primary">
                <ion-icon name="build" ></ion-icon>
                Editar
              </button>
              <button ion-button (click)="eliminar(jornada)" color="danger">
                <ion-icon name="trash" ></ion-icon>
                Eliminar
              </button>
            </span>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      </span>
  </ion-list>
</ion-content>
