<ion-header>

  <ion-navbar color="dark">
    <ion-title>Jornadas</ion-title>
    <ion-buttons end>
    <button end ion-button icon-only (click)="mostrar_modal_add()" color="white">
      <ion-icon name="add"></ion-icon>
    </button>
      <button ion-button (click)="signOut()" color="light">
        Cerrar Sesion
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <span *ngFor="let jornada of jornadas | async">
      <ion-list >
        <ion-item-sliding #item>
            <ion-item>  
              <ion-icon name="calendar" item-start></ion-icon>
              <h2><b>{{jornada.titulo}}</b></h2> 
            </ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="mostrar_modal(jornada)" style="background-color: transparent; border:none">
              <ion-icon color="secondary" name="eye" ></ion-icon>
              Ver
            </button>
            <span *ngIf="rolAdmin==true">
              <button ion-button (click)="mostrar_modal_editar(jornada)" style="background-color: transparent; border:none">
                <ion-icon color="primary" name="build" ></ion-icon>
                Editar
              </button>
              <button ion-button (click)="eliminar(jornada)" style="background-color: transparent; border:none" >
                <ion-icon name="trash" color="danger" ></ion-icon>
                Eliminar
              </button>
            </span>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      </span>
  </ion-list>
</ion-content>
