<ion-header>

  <ion-navbar color="dark"> 
    <ion-title>{{ jornada.titulo }} </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <p><span style="font-weight: bold;"> Nombre: </span> {{ jornada.titulo }}</p>
      <p><span style="font-weight: bold;"> Fecha: </span> {{ jornada.fecha }}</p>
      <span *ngFor="let equip of equipo | async">
        <p><span style="font-weight: bold;"> Equipo: </span> {{ equip.nombre }}</p>
      </span>

      <span *ngFor="let titularUno of titular1 | async">
        <p>
          <span style="font-weight: bold;"> Titular 1: </span> {{ titularUno.nombre }} 
          <span *ngIf="jornada.resultado1 == 0"> - Sin asignar resultado</span>
          <span style="color:green;" *ngIf="jornada.resultado1 == 1"> - Victoria</span>
          <span style="color:blue;" *ngIf="jornada.resultado1 == 2"> - Empate</span>
          <span style="color:red;" *ngIf="jornada.resultado1 == 3"> - Derrota</span>
        </p>
      </span>

      <span *ngFor="let titularDos of titular2 | async">
        <p>
          <span style="font-weight: bold;"> Titular 2: </span> {{ titularDos.nombre }}
          <span *ngIf="jornada.resultado2 == 0"> - Sin asignar resultado</span>
          <span style="color:green;" *ngIf="jornada.resultado2 == 1"> - Victoria</span>
          <span style="color:blue;" *ngIf="jornada.resultado2 == 2"> - Empate</span>
          <span style="color:red;" *ngIf="jornada.resultado2 == 3"> - Derrota</span>
        </p>
      </span>
      
      <span *ngFor="let titularTres of titular3 | async">
        <p>
          <span style="font-weight: bold;"> Titular 3: </span> {{ titularTres.nombre }}
          <span *ngIf="jornada.resultado3 == 0"> - Sin asignar resultado</span>
          <span style="color:green;" *ngIf="jornada.resultado3 == 1"> - Victoria</span>
          <span style="color:blue;" *ngIf="jornada.resultado3 == 2"> - Empate</span>
          <span style="color:red;" *ngIf="jornada.resultado3 == 3"> - Derrota</span>
        </p>
      </span>

      <span *ngFor="let titularCuatro of titular4 | async">
        <p>
          <span style="font-weight: bold;"> Titular 4: </span> {{ titularCuatro.nombre }}
          <span *ngIf="jornada.resultado4 == 0"> - Sin asignar resultado</span>
          <span style="color:green;" *ngIf="jornada.resultado4 == 1"> - Victoria</span>
          <span style="color:blue;" *ngIf="jornada.resultado4 == 2"> - Empate</span>
          <span style="color:red;" *ngIf="jornada.resultado4 == 3"> - Derrota</span>
        </p>
      </span>

      <span *ngFor="let titularCinco of titular5 | async">
        <p>
          <span style="font-weight: bold;"> Titular 5: </span> {{ titularCinco.nombre }}
          <span *ngIf="jornada.resultado5 == 0"> - Sin asignar resultado</span>
          <span style="color:green;" *ngIf="jornada.resultado5 == 1"> - Victoria</span>
          <span style="color:blue;" *ngIf="jornada.resultado5 == 2"> - Empate</span>
          <span style="color:red;" *ngIf="jornada.resultado5 == 3"> - Derrota</span>
        </p>
      </span>
    </ion-list>
    <button ion-button color="dark" (click)="viewCtrl.dismiss()">Listo</button>
</ion-content>
